<div class="about-page">
  <h1>About This Game</h1>
  <p>
    <b>15 Puzzle</b> is an addictive sliding puzzle game where players rearrange
    numbered tiles to achieve a specific pattern. With smooth gameplay and
    intuitive controls, players can enjoy a challenging yet relaxing experience.
  </p>
  <p>
    Developed using Angular and optimized with CapacitorJS technology for
    seamless performance on both iOS and Android devices,
    <b>15 Puzzle</b> offers hours of brain-teasing entertainment.
  </p>
  <p>
    Available on the App Store and the Play Store, this game promises endless
    fun for puzzle enthusiasts of all ages.
  </p>
  <p>
    Developed by <b>Florin Andrei Mischie</b> and <b>Emanuel Boboiu</b> in March
    2024.
  </p>
  <br />
  <h2>Game Play</h2>
  <p>
    <b>15 Puzzle</b> features grids with 9, 15, or 25 cells, offering varying
    levels of difficulty to suit players of all skill levels.
  </p>
  <p>
    Your objective is to arrange the numbered tiles in ascending order within
    the grid. For example, in a 4x4 grid, you'll need to arrange the numbers
    from 1 to 15.
  </p>
  <p>
    The grid will contain one empty cell allowing you to slide the adjacent
    tiles into the empty space.
  </p>
  <p>
    To move a tile, simply tap or click on it. If the tile is adjacent to the
    empty cell, it will slide into the empty space.
  </p>
  <p>
    Continue sliding the tiles strategically until you've successfully arranged
    them in the correct order, ensuring that the empty cell ends up in the
    bottom right corner.
  </p>
  <br />
  <p>
    This game was created to demonstrate how it is possible to develop an
    accessible game for iOS and Android, ensuring compatibility with screen
    readers.
  </p>
  <br />
  <p><b>Version 1.0, March 2024</b></p>
</div>