<!-- The main page of the application, currSection = 0: -->
<div *ngIf="currSection == 0">
  <p role="alert">
    This is the main page of the game, choose board size and others...
  </p>
  <button (click)="goToGame(3)">Start 8!</button>
  <button (click)="goToGame(4)">Start 15!</button>
  <button (click)="goToGame(5)">Start 24!</button>

</div> <!-- end main page of the application. -->

<!-- The game zone, second page of the application, currSection = 1: -->
<div *ngIf="currSection == 1">

  <p role="alert">
    Here will be the board and the game itself.
    <br>
    Variant chosen: {{ boardSize }} x {{ boardSize }}.
  </p>
  <button (click)="goToMain()">Go back!</button>

</div> <!-- end game zone, second page of the application. -->