<!-- The main page of the application, currSection = 0: -->
<div *ngIf="currSection == 0" class="container">
  <img class="logo" src="../assets/logo.png" alt='Game Logo – A wooden puzzle saying "15 PUZZLE"' />
  <button (click)="goToGame(3)" class="btn">3X3</button>
  <button (click)="goToGame(4)" class="btn">4X4</button>
  <button (click)="goToGame(5)" class="btn">5X5</button>

  <button (click)="goToSettings()" class="btn">Settings</button>
  <button (click)="goToAbout()" class="btn">About</button>
</div>
<!-- end main page of the application. -->

<!-- The game zone, second page of the application, currSection = 1: -->
<div *ngIf="currSection == 1" class="container" id="confetti">
  <!-- timer div  -->
  <div class="timer">
    <p>
      {{ padNumber(timerValueSec / 60) }}:{{ padNumber(timerValueSec % 60) }}
    </p>
  </div>
  <!-- end timer div  -->
  <p *ngIf="gameWon" class="gameWon" role="alert">
    Congratulations! <br />
    You won!
  </p>
  <!-- div for making the board look 3d -->
  <div class="board-sides">
    <!-- board div  -->
    <div class="board" [ngClass]="{
        grid3: boardSize == 3,
        grid4: boardSize == 4,
        grid5: boardSize == 5
      }">
      <!-- pieces -->
      <div *ngFor="let piece of pieces" class="piece" [ngClass]="{
          'invisible-piece': piece.number == 0
        }" (click)="move(piece)" [style.transform]="
          'translateX(' +
          (this.selectedPiece == piece ? distanceX : 0) +
          'px) ' +
          'translateY(' +
          (this.selectedPiece == piece ? distanceY : 0) +
          'px)'
        ">
        <p [ngClass]="{
            piece3: boardSize == 3,
            piece4: boardSize == 4,
            piece5: boardSize == 5
          }">
          {{ piece.number }}
        </p>
      </div>
      <!-- end of pieces div -->
    </div>
    <!-- end of board div -->
  </div>
  <!-- end of board sides div -->

  <!-- This div appears when abandon is clicked, to ask if sure: -->
  <div *ngIf="askIfAbandon">
    <span role="alert">Are you sure?</span>
    <button (click)="abandonEffectively()" class="btn">Yes</button>
    <button (click)="dontAbandon()" class="btn">No</button>
  </div>

  <!-- The bottom buttons: -->
  <div>
    <button (click)="startGame()" class="btn" [disabled]="gameStarted">Start!</button>
    <button (click)="askForAbandon()" class="btn" [disabled]="!gameStarted || askIfAbandon">Abandon!</button>
    <button (click)="goBackToMain()" class="btn" [disabled]="gameStarted">Back!</button>
  </div>

</div> <!-- end game zone, second page of the application. -->

<!-- The settings zone, third page of the application, currSection = 2: -->
<div *ngIf="currSection == 2" class="container">
  <app-settings></app-settings>
  <button (click)="goBackToMain()" class="btn">Back!</button>
</div> <!-- end settings zone, third page of the application. -->

<!-- The about zone, fourth page of the application, currSection = 3: -->
<div *ngIf="currSection == 3" class="container">
  <app-about></app-about>
  <button (click)="goBackToMain()" class="btn">Back!</button>
</div> <!-- end about zone, third page of the application. -->

<!-- Here the sound available in all the pages: -->
<app-audio-tags></app-audio-tags>