/* You can add global styles to this file, and also import other style files */
html,
body {
  margin: 0;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./assets/background.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: fixed;
  overflow: scroll;
}

.btn {
  width: 80vw;
  max-width: 600px;
  height: 3rem;
  border-radius: 0.5rem;
  border: none;
  color: #d9c8b4;
  background: url("./assets/btn.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  margin-bottom: 1rem;
  margin-top: 1rem;
  font-size: 30px;
}

.logo {
  margin-bottom: 3rem;
}

.board-sides {
  display: flex;
  justify-content: center;
  align-items: center;
  aspect-ratio: 1;
  width: calc(70vw + 40px);
  max-width: 600px;
  background: url("./assets/board.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 15px;
}

.board {
  aspect-ratio: 1;
  width: 70vw;
  max-width: 520px;
  display: grid;
  grid-gap: 10px;
  padding: 10px;
  background: url("./assets/board.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: inset 0 0 10px 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  touch-action: none; /* Prevent pull-to-refresh and other browser touch gestures */
}

.piece {
  aspect-ratio: 1;
  text-align: center;
  font-weight: 800;
  color: #4a2a16;
  background: url("./assets/piece.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.2);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s;
  border-radius: 10px;
}

.piece3 {
  font-size: 48px;
  font-weight: 800;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
    -1px -1px 1px rgba(255, 255, 255, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.3);
}

.piece4 {
  font-size: 42px;
  font-weight: 800;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
    -1px -1px 1px rgba(255, 255, 255, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.3);
}

.piece5 {
  font-size: 36px;
  font-weight: 800;
  text-shadow:
    1px 1px 2px rgba(0, 0, 0, 0.4),
    -1px -1px 1px rgba(255, 255, 255, 0.3),
    0 2px 3px rgba(0, 0, 0, 0.3);
}

p {
  margin: 0;
}

.timer {
  width: 150px;
  height: 3rem;
  background: url("./assets/btn.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #d9c8b4;
  border-radius: 5px;
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 1rem;
}

.moves {
  width: 100px;
}

.gameWon {
  margin: 1rem 0;
  font-size: 25px;
  font-weight: 600;
  color: #4a2a16;
  text-align: center;
}

.grid3 {
  grid-template-columns: repeat(3, 1fr);
}

.grid4 {
  grid-template-columns: repeat(4, 1fr);
}

.grid5 {
  grid-template-columns: repeat(5, 1fr);
}

.invisible-piece {
  opacity: 0;
}

.askIfAbandon {
  position: fixed;
  width: 90vw;
  max-width: 700px;
  height: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: url("./assets/background.webp");
  box-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  font-size: 28px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.askIfAbandon > span {
  margin-bottom: 5rem;
  color: #4a2a16;
  font-weight: 600;
}

.stats-container {
  justify-content: flex-start;
}

.about-container {
  justify-content: flex-start;
}

.back-btn {
  width: 3rem;
  border: none;
  background: none;
  position: fixed;
  top: 2rem;
  left: 1rem;
}

.savedMessageDiv > span {
  margin-bottom: 5rem;
  color: #4a2a16;
  font-weight: 600;
}
