h1 {
  color: #4a2a16;
}

.page-content {
  width: min-content;
}

.statistics-page {
  margin-top: 5rem;
  margin-left: 1rem;
  color: #4a2a16;
  margin-bottom: 1rem;
}

.space {
  width: 1rem;
}

p {
  font-size: 20px;
  margin-left: 1rem;
  margin-right: 1rem;
  text-wrap: wrap;
}
